.aside-video {
    display: flex;
    justify-content: flex-end;
}
.relevant {
    font-weight: bold;
}
.scientific-name {
    font-style: italic;
}
.stomatopoda img {
    border-radius: 20px;
    width: 200px;
}