body {
    margin: 35px;
}
p {
    max-width: 800px;
}
.aside-video {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
}
.aside-video h5 {
    display: none;
}
.footer {
    text-align: center;
}
.nav ul {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
.nav ul li {
    margin: 20px;
}
.relevant {
    font-weight: bold;
}
.scientific-name {
    font-style: italic;
}
.stomatopoda img {
    border-radius: 20px;
    width: 200px;
}